.tree { width:455px; float:left; margin:0; border:1px solid gray; background:white; overflow:auto; }

ul.columns { list-style-type:none; width:700px; margin:0px auto 15px auto; padding:0; overflow:hidden; }
ul.columns li { float:left; margin:0; padding:0 0 0 0px; line-height:18px; width:345px; }
ul.plugins li p { text-align:left; font-size:9px; color:#333; margin:0 5px 0 0; }

.tree, .tree input, .jstree-dnd-helper, #vakata-contextmenu { font-size:10px; font-family:Verdana; }

#demo_body .tree, #demo_body .code { width:auto; float:none; clear:both; margin:10px auto; }
#demo_body .code { margin-bottom:20px; }

ul.jstree { width:700px; margin:0px auto 15px auto; padding:0; }
ul.jstree li { margin:0; padding:2px 0; }
ul.jstree li a { color:#3B5998; text-decoration:underline; }